body{
  top: 30px;
  font-family: 'Calluna-Regular';
  margin: 0px auto;
  width: 800px;
  background: url(images/bg_2.png);
  background: #fefefe;
  text-shadow: 1px 1px 0px hsla(0,0%,90%,.5);
}
::selection {
        background: rgba(90,0,201,.5);
        text-shadow: 1px 1px 0px rgba(90,0,201,1),2px 2px 0px rgba(90,0,201,1),3px 3px 0px rgba(90,0,201,1),4px 4px 0px rgba(90,0,201,1),5px 5px 0px rgba(90,0,201,1);
        color: white;
        }
::-moz-selection {
        background: rgba(90,0,201,.5);
}
a{
  text-decoration: none;
}
a:hover{
  top: -5px;
  left: -5px;
  color: white;
  position: relative;
  text-shadow:
  1px 1px 0px rgba(90,0,201,1),
  2px 2px 0px rgba(90,0,201,1),
  3px 3px 0px rgba(90,0,201,1),
  4px 4px 0px rgba(90,0,201,1),
  5px 5px 0px rgba(90,0,201,1);
  -webkit-transition: all 0.12s ease-out;
}
object{
  width: 100px;
  height: 100px;
  display: inline-block;
  background: none;
}
#opening{
  position: relative;
  display: block;
}
#opening header h1{
  font-family: 'Calluna-Regular';
  font-size:36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 36px;
}
#opening header h1 img#logo{
  display: block;
  margin: 24px auto;
  z-index: 10;
  position: relative;
}
#opening header h1 img#logo.locked{
  position: fixed; 
  top: -15px;
  left: 50%;
  margin-left: -25px;
}
#opening header h1 em{
  position: relative;
  display: inline-block;
  top: -10px;
  font-size: 72px;
  line-height: 43px;
  font-style:normal;
  letter-spacing: -.05em;
}
#opening header h2{
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 12px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
#opening p{
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  width: 800px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/*___________________ NAVIGATION  	_________________*/ 
nav{
  position: fixed;
  display: block;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 36px;
  background: hsla(0,0%,70%,1);
  margin: 0px;
  padding: 10px 18px;
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box;    
      box-sizing: border-box;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 10px rgba(90,0,201,.3);
}
nav h1{
  font-size: 18px;
  display: inline-block;
  margin: 0px;
}
nav ul li ul{

  position: absolute;
  margin-top: -300px;
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0px;
  -webkit-transition: margin-top 0.5s ease-in;
  z-index: -1;
}
nav ul li ul li{
  display: block;
  width: 200px;
  height: 50px;
}
nav ul li:hover ul{
  display: block;
  margin-top: 0px;
  -webkit-transition: margin-top 0.5s ease-in;
}
nav a{
  color: hsla(0,0%,100%,1);
  text-decoration: none;
  margin: 0px 6px;
  position: relative;
  text-shadow: 1px 1px 0px hsla(0,0%,0%,.5);
  -webkit-transition: all 0.12s ease-out;
}
nav a:hover{
  top: -5px;
  left: -5px;
  text-shadow: 
  1px 1px 0px rgba(90,0,201,1),
  2px 2px 0px rgba(90,0,201,1),
  3px 3px 0px rgba(90,0,201,1),
  4px 4px 0px rgba(90,0,201,1),
  5px 5px 0px rgba(90,0,201,1);
-webkit-transition: all 0.12s ease-out;
}
nav ul{
  margin: 0px;
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 18px;
}
nav ul li{
  display: inline-block;
}
#phone-number{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: hsla(0,0%,0%,.8);
  color: white;
  text-align:center;
  padding-top: 15%;
  width: 100%;
  height: 100%;
}
#phone-number h1{
  font-size: 100px;
  margin: 0px;
}
#phone-number h2{
  font-size: 60px;
  margin: 0px;
}
/*___________________ SECTION  	_________________*/ 
section{
  width: 100%;  
  height: 100%;
  display: block;
  position: relative;
  padding: 50px 0px 150px 0px;
  border-bottom: 1px dashed black;
}
section h1{
  font-family: 'MuseoSlab500', sans-serif;
  text-align: left;
  font-size: 144px;
  margin: 0px 0px 24px 0px;
}
section article{
  display: inline-block;
  margin: 0px;
  margin-right: 50px;
  width: 230px;
  height: 230px;
  outline: solid 1px black;
  padding: 0px;
}
section p{
  font-family: 'Calluna';
  font-size: 24px;
  line-height: 36px;
}
section .articles article:nth-child(3n+3){
  margin-right: 0px;
}
section article h2{
  text-align: center;
}
section .links{
  position: absolute;
  display: block;
  width: 200px;
  margin-left: -225px;
  text-align: right;
  padding: 0px;
  list-style: none;
}
section .links a{
  color: hsla(0,0%,50%,.8);
}
section .links a:hover{
  color: black;
  text-shadow: none;
  top: 0;
  left: 0;
}
/*___________________ FIGURE  	_________________*/ 
#stats{
  width: 800px; 
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
figure{
  position: relative;
  display: inline-block;
  margin: 0px;
  position: absolute;
}
figure#skills{
  height: 230px;
  bottom: 0px;
}
figure#skills meter{
  padding-bottom: 160px;
  display: inline-block;
  position: relative;
  width: 30px;
  margin: 0px 12px;
  background: hsla(0,0%,0%,.8);
  cursor: pointer;
  -webkit-transition: padding .5s ease-in-out;
  text-shadow: none;
  -webkit-box-shadow: 1px 1px 0px white;
  -webkit-box-shadow:
   1px -1px 0px black,
   2px -2px 0px  black,
   3px -3px 0px  black,
   4px -4px 0px  black,
   5px -5px 0px  black;
}
figure#skills meter.hovered,
figure#skills meter:hover{
  padding: 0px !important; 
  left: -5px;
  top: 5px;
  background: rgba(90,0,201,1);
  background: #a275d9;
  -webkit-transition: all .5s ease-in-out;
  -webkit-box-shadow:
   1px -1px 0px rgba(90,0,201,1),
   2px -2px 0px rgba(90,0,201,1),
   3px -3px 0px rgba(90,0,201,1),
   4px -4px 0px rgba(90,0,201,1),
   5px -5px 0px rgba(90,0,201,1);
   
}
figure#skills meter b{
  font-family: sans-serif;
  position: relative;
  bottom: -300px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0px;
  color: hsla(0,0%,0%,0);
  display: block;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
}
figure#skills meter.hovered b,
figure#skills meter:hover b{
  bottom: 0px;
  text-indent: 40px;
  color: hsla(0,0%,100%,1);
  color:#a275d9;
  -webkit-transition: all .5s ease-in-out;
  text-shadow: 
  1px 1px 0px rgba(90,0,201,.5),
  2px 2px 0px rgba(90,0,201,.5),
  3px 3px 0px rgba(90,0,201,.5),
  4px 4px 0px rgba(90,0,201,.5),
  5px 5px 0px rgba(90,0,201,.5);
}
figure#time{
  display: block;
  right: 0px;
  top: 70px;
  background-color:hsla(0,0%,50%,1);
  width:200px;
  height:200px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
  text-shadow: none;
  -webkit-box-shadow:
   1px -1px 0px black,
   2px -1px 0px  black,
   3px -2px 0px  black,
   4px -2px 0px  black,
   5px -3px 0px  black;
}
figure#time *::selection {
        background: none;
        text-shadow: none;
        color: transparent;
        }
figure#time *::-moz-selection {
        background: none;
        text-shadow: none;
        color: transparent;
}
figure#time meter{
	position:absolute;
	width:200px;
	height:200px;
	clip:rect(0px,200px,200px,100px);
	color: transparent;
}
#stats figure figcaption{
  display: block;
  width: 150px;
  position: absolute;
  bottom: 0px;
}
#stats figure figcaption p{
  font-size: 12px;
  width: 150px;
  position: relative;
  text-align: left;  
}
#stats figure#skills figcaption p{
  margin-left: 10px;
}
#stats figure#time figcaption p{
  bottom: -30px;
  left: 15px;
}
 .hold {
	position:absolute;
	width:200px;
	height:200px;
	clip:rect(0px,200px,200px,100px);
}
 .pie {
	position:absolute;
	width:200px;
	height:200px;
	clip:rect(0px,100px,200px,0px);
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
}
#time .photoshop .pie {
   background: hsla(0,0%,90%,1);
   -moz-transform:rotate(18deg);
   -webkit-transform:rotate(18deg);
   -o-transform:rotate(18deg);
   transform:rotate(18deg);
}
#time .photoshop {
  -moz-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
}
#time .indesign .pie {
   background: hsla(0,0%,85%,1);
   -moz-transform:rotate(18deg);
   -webkit-transform:rotate(18deg);
   -o-transform:rotate(18deg);
   transform:rotate(18deg);
}
#time .indesign {
  -moz-transform:rotate(18deg);
  -webkit-transform:rotate(18deg);
  -o-transform:rotate(18deg);
  transform:rotate(18deg);
}
#time .illustrator .pie {
   background: hsla(0,0%,80%,1);
   -moz-transform:rotate(18deg);
   -webkit-transform:rotate(18deg);
   -o-transform:rotate(18deg);
   transform:rotate(18deg);
}
#time .illustrator {
  -moz-transform:rotate(36deg);
  -webkit-transform:rotate(36deg);
  -o-transform:rotate(36deg);
  transform:rotate(36deg);
}
#time .sketching .pie {
   background: hsla(0,0%,75%,1);
   -moz-transform:rotate(54deg);
   -webkit-transform:rotate(54deg);
   -o-transform:rotate(54deg);
   transform:rotate(54deg);
}
#time .sketching {
  -moz-transform:rotate(54deg);
  -webkit-transform:rotate(54deg);
  -o-transform:rotate(54deg);
  transform:rotate(54deg);
}
#time .frontend .pie {
   background: hsla(0,0%,70%,1);
   -moz-transform:rotate(36deg);
   -webkit-transform:rotate(36deg);
   -o-transform:rotate(36deg);
   transform:rotate(36deg);
}
#time .frontend {
  -moz-transform:rotate(90deg);
   -webkit-transform:rotate(90deg);
   -o-transform:rotate(90deg);
   transform:rotate(90deg);
}
#time .reading .pie {
   background: hsla(0,0%,65%,1);
   -moz-transform:rotate(36deg);
   -webkit-transform:rotate(36deg);
   -o-transform:rotate(36deg);
   transform:rotate(36deg);
}
#time .reading {
  -moz-transform:rotate(126deg);
  -webkit-transform:rotate(126deg);
  -o-transform:rotate(126deg);
  transform:rotate(126deg);
}
#time .backend .pie {
   background: hsla(0,0%,60%,1);
   -moz-transform:rotate(18deg);
   -webkit-transform:rotate(18deg);
   -o-transform:rotate(18deg);
   transform:rotate(18deg);
}
#time .backend {
  -moz-transform:rotate(144deg);
  -webkit-transform:rotate(144deg);
  -o-transform:rotate(144deg);
  transform:rotate(144deg);
}
#time .interaction .pie {
   background: hsla(0,0%,55%,1);
   -moz-transform:rotate(36deg);
   -webkit-transform:rotate(36deg);
   -o-transform:rotate(36deg);
   transform:rotate(36deg);
}
#time .interaction {
  -moz-transform:rotate(162deg);
   -webkit-transform:rotate(162deg);
   -o-transform:rotate(162deg);
   transform:rotate(162deg);
}
#time .learning .pie {
   background: hsla(0,0%,50%,1);
   -moz-transform:rotate(198deg);
   -webkit-transform:rotate(198deg);
   -o-transform:rotate(198deg);
   transform:rotate(198deg);
}
#time .learning {
  -moz-transform:rotate(180deg);
   -webkit-transform:rotate(180deg);
   -o-transform:rotate(180deg);
   transform:rotate(180deg);
}
figure#time meter b.pie.hovered,
figure#time meter:hover b.pie{
  background:rgba(90,0,201,1);
  background: #a275d9;
}
/*___________________ FOOTER  	_________________*/ 
footer{
  width: 100%;
  padding-bottom: 150px;
}
footer h4{
  font-family: 'MuseoSlab500', sans-serif;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -0.05em;
  margin: 72px 0px 24px 0px;
  clear:both;
  text-align: left;
  float: none;
}
footer ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;
}
footer ul li{
  width: 197px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
footer ul li a{
  color: #333;
}
footer ul#organizations li{
  width: 398px;
}




/*___________________ PHILOSOPHY  	_________________*/ 

div.content{
  display: none;
}
div.content{
 position: absolute;
 z-index: 999999;
 width: 100%;
 background: white;
 top: 0px;
 left: 0px;
 padding: 100px;
}
