// Portrait
@media only screen and (max-device-width: 480px)
  body
    width: 100%
  nav
    position: relative
    top: 120px
    width: 100%
    margin: 0px auto
    padding: 0px 10%
  section
    width: 80%
    margin: 200px auto
    padding: 10%
  #opening
    margin-top: 200px
    p
      font-size: 18px
      line-height: 24px
    aside
      top: 0px
  aside
    position: relative
    top: 0px
    right: inherit
    a
      font-size: 16px
      line-height: 24px
      padding: 4px inherit
  #research
    dl
      margin-top: 24px
  #connect
    ul li
      display: block
      width: 100%
      font-size: 24px
      padding: 4px
  #friends, #organizations
    margin: 20px inherit
    padding: 20px inherit
    ul li
      width: 100%
      font-size: 18px
      display: block
      padding: 4px inherit


// Landscape
@media only screen and (min-width: 480px)
