@media all and (min-width: 768px) and (max-width: 1400px)
  aside
    position: relative
    top: 0px
    right: inherit
  #opening
    aside
      top: 0px

@media all and (min-width: 768px) and (max-width: 1000px)
  body
    width: 100%
  nav: 
    position: relative
    top: inherit
    width: 628px
    margin: 0px auto
  section
    margin: 200px auto
    padding: 0px
  #opening
    margin-top: 200px
